@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    font-family: "Open Sans", sans-serif;
    background-image: url(/images/bg.png);
    background-size: cover;
    background-repeat: repeat;
    background-color: #1c1c1c;
    color: white;
    text-decoration: none;
    height: 100vh;
    margin: 0 auto 0 auto;
    word-spacing: normal;
    overflow-x: hidden;
}

html {
    height: 100vh;
}

p {
    font-size: .9em;
    line-height: 1.25em;
    margin: 0;
}

.logo {
    margin: 0;
    padding-top: 1em;
    margin-bottom: 0;
    height: 100%;
    z-index: 0;
}

header {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100px;
}

.navbar {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    margin: 0;
}

.navbar li a {
    margin: 10px;
}

.hero {
    width: 100%;
    padding: 75px 0;
    text-align: center;
    color: white;
}

#myBtnContainer {
    text-align: center;
    padding-bottom: 1em;
}

.filterDiv {
    display: none;
    /* Hidden by default */
}


/* The "show" class is added to the filtered elements */

.show {
    display: block;
}


/* Style the buttons */

.btn {
    font: "Open Sans", sans-serif;
    font-size: small;
    border-radius: .5em;
    border: none;
    outline: none;
    padding: 5px 5px 5px 5px;
    color: white;
    background-color: #131313;
    cursor: pointer;
    text-align: center;
    display: inline;
}

.loadMore {
    text-align: center;
    padding-bottom: 2em;
}

#loadBtn {
    border-radius: .5em;
    border: none;
    outline: none;
    padding: 1em;
    color: white;
    background-color: #131313;
    cursor: pointer;
    text-align: center;
    display: inline;
    display: none;
}


/* Add a dark background to the active button */

.btn.active {
    background-color: #a88add;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    transition-property: color;
    transition-duration: .2s;
}

a:hover {
    color: #897c80;
}

.content {
    padding: 1em 10% 75px 10%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: #131313;
    text-align: center;
}

.footer p {
    margin-top: 25px;
    color: #505050;
    font-size: 1em;
}

.moreLink {
    text-decoration: underline;
    font-size: .5em;
    padding-bottom: 1em;
}

.emLink {
    text-decoration: underline;
    color: #a88add;
}

.name {
    color: #fff;
    font-weight: 900;
    font-size: 1.75em;
    text-align: center;
    display: inline;
    width: 8em;
    margin: 0;
    font-family: "Merriweather", serif;
}

.intro {
    text-align: center;
    font-size: 1.25em;
    line-height: 1.5em;
}

.intro strong {
    font-family: "Merriweather", serif;
}

.indexGrid {
    display: flex;
    flex-direction: column;
}

.introBlurb {
    text-align: center;
    font-size: 1.25em;
    line-height: normal;
    height: inherit;
    max-lines: 4;
    padding-bottom: 1em;
}

.featuredProject {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    column-gap: 1em;
}

.fpHeader {
    padding-bottom: .25em;
    display: block;
    text-align: left;
    font-weight: 600;
    font-size: large;
    font-family: "Merriweather", serif;
}

.projectName {
    padding-bottom: .25em;
    margin: 0;
    font-size: 1.5em;
    color: #a88add;
    text-align: left;
    line-height: 1em;
    font-weight: 800;
    font-family: "Merriweather", serif;
}

.featuredDetails {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.featuredInfo {
    display: inline-block;
    width: 100%;
    text-align: left;
    padding-bottom: 1em;
    padding-top: .25em;
}

 ::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #1d1d1d;
}

 ::-webkit-scrollbar-thumb {
    background: #0eb490;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #898989;
}

.navActive {
    color: #a88add;
}

.pageHeader {
    padding: .5em 0 .5em 0;
    font-size: 1.5em;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 600;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    grid-template-columns: 2;
}

.workGrid {
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2em;
}

.thumbnail {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

.projectInfo {
    padding-top: .5em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.projectHeader {
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    column-gap: 1em;
}

.workDetails {
    margin-bottom: 1em;
}

.tableHeader {
    color: #0eb490;
    font-size: 2em;
    font-family: "Merriweather", serif;
}

.projectFacts th,
td {
    padding: 7px;
    font-size: 1em;
    text-align: left;
}

.errorHeader {
    color: #898989;
    font-size: 1em;
    font-family: "Merriweather", serif;
    background: none;
    outline: none;
    border: 0;
}

.collapsible {
    padding: 7px;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.activeCollapse,
.collapsible:hover {
    color: #ccc;
}

.collapsible:after {
    content: '\25BC';
    font-size: .75em;
    float: right;
}

.activeCollapse:after {
    content: "\25b2";
}

.collapseContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s cubic-bezier(.08, .58, .33, .85);
}

.caseStudy h2 {
    margin: 0;
    padding-top: 1em;
    font-family: "Merriweather", serif;
}

.caseStudy p {
    font-size: 1em;
    line-height: 1.5em;
}

#page-container {
    min-height: 100%;
    position: relative;
}

.errorContent {
    padding: 0;
}

.errorNum {
    display: block;
    text-align: center;
    font-size: 5em;
    color: #a88add;
}

.error {
    font-size: 2em;
    text-align: center;
    padding: 0;
}

.errorContent img {
    width: 70%;
}

.errorContent div {
    text-align: right;
}

.emailForm {
    display: flex;
    flex-direction: column;
    font-size: larger;
}


/* media queries start here */

@media only screen and (min-width: 500px) {
    header {
        height: 125px;
    }
}

@media only screen and (min-width: 650px) {
    header {
        height: 150px;
    }
    .navbar li a {
        margin: 15px;
        font-size: large;
    }
    p {
        font-size: 1.2em;
    }
    .intro {
        font-size: 1.75em;
    }
    .introBlurb {
        font-size: 1em;
        padding-top: 0;
        padding-bottom: 1em;
    }
    .featuredProject big {
        font-size: 2em;
    }
    .featuredDetails {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 750px) {
    .workGrid {
        grid-template-columns: repeat(2, 1fr);
    }
    .project h2 {
        font-size: xx-large;
    }
    .projectName {
        margin: 0;
        font-size: 2em;
        color: #a88add;
        text-align: left;
    }
}

@media only screen and (min-width: 850px) {
    header {
        height: 125px;
    }
    .navbar li a {
        margin: 20px;
        font-size: x-large;
    }
    .name {
        text-align: left;
        width: 9em;
        line-height: 1em;
        padding-right: .5em;
    }
    .navbar {
        padding-bottom: 1em;
    }
    .pageHeader {
        font-size: 2em;
    }
    .projectFacts th,
    td {
        font-size: 1em;
    }
    .caseStudy h2 {
        padding: 0;
    }
    .projectInfo {
        padding-top: 2em;
        flex-direction: row;
    }
    .caseStudy {
        padding-left: 50px;
        font-size: 1em;
    }
    .featuredDetails {
        font-size: 1em;
    }
    .errorNum {
        font-size: 8em;
    }
    .error {
        font-size: 2.5em;
        padding-bottom: 0;
    }
}

@media only screen and (min-width: 1100px) {
    header {
        height: 125px;
    }
    .logo {
        padding: .5em;
    }
    .navbar {
        padding-bottom: 1.5em;
    }
    .navbar li a {
        font-size: medium;
    }
    .workGrid {
        grid-template-columns: repeat(3, 1fr);
    }
    .btn {
        font-size: medium;
    }
    .footer p {
        margin-top: 25px;
        color: #505050;
        font-size: 1em;
    }
    .introBlurb {
        font-size: 1.25em;
    }
    .fpHeader {
        padding-top: 1em;
        font-size: 2em;
    }
    .featuredProject {
        flex-direction: row;
    }
    .projectName {
        text-align: left;
        font-size: 3em;
    }
    .featuredDetails {
        font-size: 1.75em;
    }
    .featuredInfo {
        padding: 0%;
        font-size: 1.75em;
    }
    .moreLink {
        text-align: center;
        font-size: 2em;
    }
    .thumbnail {
        width: 100%;
    }
    .errorNum {
        padding: 0;
        font-size: 8em;
    }
    .error {
        font-size: 4em;
    }
}

@media only screen and (min-width: 1320px) {
    .featuredProject {
        column-gap: 2em;
    }
    .projectName {
        font-size: 3em;
    }
    .content {
        padding: 0em 10% 200px 10%;
    }
}

@media only screen and (min-width: 1800px) {
    .projectName {
        font-size: 3.5em;
    }
    .featuredDetails {
        font-size: 2em;
    }
}

@media only screen and (min-width: 2560px) {
    .workGrid {
        grid-template-columns: repeat(4, 1fr);
    }
    .error {
        font-size: 5em;
    }
}