@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    font-family: "PT Sans", sans-serif;
    background-color: #1d1d1d;
    color: white;
    text-decoration: none;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    border: solid;
    border-style: solid;
    border-width: .5em;
    border-top: hidden;
    border-bottom: hidden;
    border-color: #0eb490;
    position: relative;
    
}

p {
    font-size: .9em;
    line-height: 1.25em;
    margin: 0;
}

.logo {
    margin: 0;
    padding-top: 1em;
    margin-bottom: 0;
    width: 50%;
}

header {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 50%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.navbar li a {
    padding: 0 1em 0 1em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #897c80;
    text-decoration: none;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #131313;
    color: white;
    text-align: center;
    padding: 1em 0 1em;
    height: 40px;
  }

  .name {
    color: #0eb490;
    font-weight: bolder;
    font-size: 2em;
  }

  .intro {
    text-align: center;
    font-size: 1.25em;
    line-height: normal;
    margin: 1em 0 0 1em;
  }

  .introBlurb {
    margin: 1.5em;
    text-align: center;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1d1d1d;
  }

  ::-webkit-scrollbar-thumb {
    background: #897c80;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #898989;
  }

  .navActive {
      color: #a88add;
  }

  .workHeader {
    margin-top: 1em;
    font-size: larger;
    text-align: center;
  }

  .workGrid {
    list-style: none;
    text-align: center;
    padding: 0 0 1em 0;
  }

  .workGrid ul li img{
    margin: 1em;
    padding: 1em;
  }

  .thumbnail {
    width: 80%;
    text-align: center;
  }

  .project {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .workDetails {
    margin-top: .25em;
    margin-bottom: 1em;
  }



  @media only screen and (min-width: 350px)  {

    header {
    }

  }

  @media only screen and (min-width: 500px)  {

    header {
    }

  }

  @media only screen and (min-width: 650px)  {

    header {
    }

  }

  @media only screen and (min-width: 850px)  {

    header {

    }

  }